
MetalTrainer/x86/Makefile
MetalTrainer/x86/Makefile.Debug
MetalTrainer/x86/Makefile.Release
MetalTrainer/assets/.assets.index
MetalTrainer/x86/o-g/MetalTrainer
MetalTrainer/x86/o-g/.moc/*
MetalTrainer/x86/o-g/.obj/*
